version: '3.8'
services:
  collector:
    image: yousseftarekk1/os-collector:v1 
    container_name: os_collector
    environment:
      - TZ=Africa/Cairo
    privileged: true
    volumes:
      - ./reports:/app/reports
    command: ["./monitor.sh"]

  reporter:
    image: yousseftarekk1/os-reporter:v1
    container_name: os_reporter
    environment:
      - TZ=Africa/Cairo
    volumes:
      - ./reports:/app/reports
    depends_on:
      - collector
    command: ["python3", "processor.py"]

  visualization:
    image: yousseftarekk1/os-visualizer:v1
    container_name: os_visualizer
    environment:
      - TZ=Africa/Cairo
    ports:
      - "9000:8000"
    volumes:
      - ./reports:/app
    working_dir: /app
    command: ["python3", "-m", "http.server", "8000"]